{% extends 'lawfirm/base.html' %}
{% block content %}

<!-- Hero Section -->


<div class="container">

<div class="profile_section mt-1">

   <div class="card-body">
     <h1 style="text-align:center;">Profile Page </h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary">
    </form>   
  </div>
</div>
    
</div>



<!-- Contact Section -->
<section id="contact" class="py-5 bg-light">
  <div class="container text-center">
    <h2>Contact</h2>
    <p>Ready to discuss your case? Let’s schedule a consultation.</p>
    <a href="tel:+919876543210" class="btn btn-success">📞 Call Now</a>
  </div>
</section>

{% endblock %}